$topOffset: 60vh;
.current_project {
	// text-shadow: 0 0 100px rgba(black, .3);
	// display:none;
	ul.categories {
		text-transform:uppercase;
		font-weight:600;
		letter-spacing:0.14em;
		font-size:11px;
		position:fixed;
		top:calc(#{$topOffset} + 10px);
		left:10vw;
		z-index:3;
		font-family:"Bagnard Sans";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		li {
			display:inline-block;
			&:before {
				content:"/ "
			}
		}
	}
	h2 {
		font-size:60px;
		position:fixed;
		z-index:3;
		left:10vw;
		top:calc(#{$topOffset} - 65px);
		font-weight:500;
		// font-family:""
		// text-transform:uppercase;
		// font-weight:normal;
		// letter-spacing:0.14em;
	}
	* {
		color:#000;
	}
}