.currentProjectH2 {
	z-index:3;
	font-weight:700;
	
	text-align:center;
	width:100%;
	color:inherit;
	// font-family:"Replica-Regular";
	a {
		font-family:inherit !important;
		font-weight:inherit;
		display:block;
		text-decoration:none;
		color:inherit;
		
		@include transform(translateY(25%));
	}
}
.current_project {
	// text-shadow: 0 0 100px rgba(black, .3);
	// display:none;
	bottom:50%;
	position:fixed;
	width:100%;
	text-align:center;
	opacity:0;
	color:inherit;
	padding:0 10vw;
	pointer-events:none;
	@include transition(transform 2.5s cubic-bezier(0,.6,.4,1));
	// text-shadow: 0 0 100px rgba(0,0,0,0.7);
	h2 {
		@extend .currentProjectH2;
	}
}
