footer {
	bottom:20px;
	width:100%;
	padding:0 30px;
	position:fixed;
	text-align:right;
	color:inherit;
	z-index:300;
	.status {
		position:absolute;
		right:30px;
		bottom:30px;
		padding:10px 0;
		font-size:18px;
		font-weight:500;
		margin-top:3px;
	}
}
button {
	position:relative;
	border-color:inherit;
	border-style:solid;
	border-width:0px;
	background-color:transparent;
	outline:none;
	cursor:pointer;
	font-size:18px;	
	font-weight:500;
	font-family:anker;
	display:inline-block;
	text-align:center;
	padding:0;
	@include appearance(none);
	text-align:right;
	width:280px;
	padding:10px 0;
	opacity:1;
	@include transition(opacity 0.2s);
	.arrow {
		position:relative;
		top:0px;
		margin:8px 0 4px 20px;
		display:inline-block;
		content:" ";
		border-radius:10px;
		height:2px;
		width:40px;
		line-height:inherit;
		@include transition(all 0.3s cubic-bezier(.6,0,.4,1), background-color 0s 0s);
		&:before, &:after {
			right:-2px;
			content: " ";
			display:block;
			height:15px;
			width:1.5px;
			background-color:inherit;
			position:absolute;
			border-radius:10px;
			transform-origin:center top;
			@include transition(all 0.3s 0.2s cubic-bezier(0,.6,.5,1), background-color 0s 0s);
			@include transform(translateY(1px) rotate(125deg));
		}
		&:after {
			@include transform(translateY(1px) rotate(55deg));
		}
	}
	&:hover {
		.arrow {
			width:120px;
		}
	}
	&.off {
		opacity:0;
		@include transition(opacity 0.2s 0.3s);
		.arrow {
			width:0;
			@include transition(all 0.3s 0.2s cubic-bezier(.6,0,.4,1), background-color 0s 0s);
			&:before, &:after {
				height:0;
				opacity:1 !important;
				@include transition(all 0.3s cubic-bezier(.7,0,1,.3), background-color 0s 0s);
			}
		}
	}
}