header {
	padding:30px;
	text-align:center;
	color:inherit;
	position:fixed;
	width:100%;
	left:0;
	font-size:17px;
	a {
		text-decoration: none;
		color:inherit;
		@include transition(color 0.3s);
		letter-spacing: 0em;
	}
	.home {
		font-weight:bold;
		color:inherit;
		position:absolute;
		left:30px;
		@media (max-width:600px) {
			left:15px;
			top:20px;
		}
	}
	nav {
		position:absolute;
		display:inline-block;
		color:inherit;
		
		right:30px;
		@media (max-width:600px) {
			right:15px;
			top:20px;
		}
		.toggle {
			@media (min-width:601px) {
				display:none;
			}
			@media (max-width:600px) {
				display:block;
			}
			margin-top:-9px;
			background-color:transparent;
			color:transparent;
			overflow:visible;
			width:35px;
			height:30px;
			position:relative;

			span {
				background-color:$black;
				@include transition(background-color 0.3s);
			}
			span, span:before, span:after {

				content:" ";
				display:block;
				position:absolute;
				width:35px;
				height:2px;
				top:8px;
				background-color:inherit;
			}
			span:after {
				top:16px;
			}
		}
		ul {
			@media (max-width:600px) {
				display:none;
			}
			@media (min-width:601px) {
				display:block;
			}
			opacity:1;
			left:0;
			li {
				display:inline-block;
				margin:0 30px;
				&:first-child {
					margin-left:0;
				}
				&:last-child {
					margin-right:0;
				}
			}
			color:inherit;
			
			display:inline-block;

		}
	}
	
}