body.loaded {
	header {
		opacity:1;
	}
}
body > header {
	padding:30px;
	text-align:left;
	color:inherit;
	position:fixed;
	z-index:100000;
	width:100%;
	box-sizing:border-box;
	left:0;
	opacity:0;
	font-size:17px;
	transition:opacity 1s;
	a {
		text-decoration: none;
		color:inherit;
		letter-spacing: 0em;
	}
	.home {
		font-weight:bold;
		color:inherit;
		
		@media (max-width:600px) {
			left:15px;
			top:20px;
		}
	}
	nav {
		color:inherit;
		float:right;
		.toggle {
			display:block;
			margin-top:-10px;
			background-color:transparent;
			color:transparent;
			overflow:visible;
			width:35px;
			height:30px;
			position:relative;

			span {
				background-color:$black;
				@include transition(background-color 0.3s);
			}
			span, span:before, span:after {

				content:" ";
				display:block;
				position:absolute;
				width:35px;
				height:2px;
				top:8px;
				background-color:inherit;
			}
			span:after {
				top:16px;
			}
		}
		ul {
			display:none;
			opacity:1;
			left:0;
			color:inherit;
			position:absolute;
			li {
				display:inline-block;
				margin:0 30px;
				&:first-child {
					margin-left:0;
				}
				&:last-child {
					margin-right:0;
				}
			}
		}
	}
	
}